/* Przykładowy arkusz stylów CSS */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bbb;
  }
  

  .center {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    text-align: center;
  }

  .center2 {
    padding-left: 30px;
    padding-right: 30px;
    align-self: center;

  }

  .to_the_right{
    padding-left: 70px;
    padding-right: 10px;
    align-self: center;
    /*border-color: black; 
    border-style: solid; */
  }

  .to_the_left{
    padding-left: 10px;
    padding-right: 70px;
    align-self: center;
  }

  
  .header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
  }
  
  .navbar {
    background-color: #333;
    overflow: hidden;
  }


  
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Dodaj odpowiednie media queries dla responsywności */
  @media screen and (max-width: 600px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: brown;
    color: white;
    text-align: center;
  }

  .link {
    color: blue;
    font-size: 24px;
    transition: color 2s ease;
    /* Dodaj inne style według potrzeb */
}
  .link:hover{
    color: red;
    font-size: 25px;
  }

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 98%;
}



.left {
  flex: 1;
  border-color: red; 
  border-style: solid;
  text-align: center;
}

.right {
  flex: 3;
  border-color: black; 
  border-style: solid; 
  text-align: center;
}


.container2 {
  height: 300px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 98%;
}


.left2 {
  flex: 2;
  border-color: grey; 
  border-style: solid;
  text-align: center;
}

.right2 {
  flex: 3;
  border-color: blue; 
  border-style: solid; 
  text-align: center;
  justify-content: center;
  overflow: auto;
}

.right2 table {
  margin: auto; /* Automatyczne marginesy dla wyśrodkowania tabeli */
}

.container3 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 98%;
  font-size: medium;
}

.large-font-table {
  font-size: 28px; /* Możesz dostosować rozmiar według potrzeb */
  font-style: normal;
  color: navy;
}

.center-div{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}