/* Przykładowy arkusz stylów CSS */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eee;
  }
  

  .center {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-top: 15px;
    text-align: center;
  }

  .center-table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    width: 100%; /* lub inna wartość, zależnie od potrzeb */
}

  .center2 {
    padding-left: 30px;
    padding-right: 30px;
    align-self: center;

  }

  .to_the_right{
    padding-left: 70px;
    padding-right: 10px;
    align-self: center;
    /*border-color: black; 
    border-style: solid; */
  }

  .to_the_left{
    padding-left: 10px;
    padding-right: 70px;
    align-self: center;
  }

  
  .header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
  }
  
  .navbar {
    background-color: #333;
    overflow: hidden;
  }


  
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Dodaj odpowiednie media queries dla responsywności */
  @media screen and (max-width: 600px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: brown;
    color: white;
    text-align: center;
  }

  .link {
    color: white;
    font-size: 20px;
    transition: color 2s ease;
    text-decoration: none;
}
  .link:hover{
    color: orange;
    font-size: 20px;
  }

  .link2 {
    color: brown;
    font-size: 20px;
    text-decoration: none;
}

.link2:hover{
  color: red;
  font-size: 20px;
}

.link3 {
  color: navy;
  font-size: 22px;
  text-decoration: none;
}

.link3:hover{
color: blue;
font-size: 22px;
}












.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 90%;
}

.left {
  flex: 1;
  border-color: red; 
  border-style: solid;
  align-content: center;
  align-items: center;
  text-align: center;
}

.right {
  flex: 2;
  border-color: black; 
  border-style: solid; 
}


.container2 {
  height: 300px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 98%;
}

.left2 {
  flex: 2;
  border-color: grey; 
  border-style: solid;
  text-align: center;
}

.right2 {
  flex: 3;
  border-color: blue; 
  border-style: solid; 
  text-align: center;
  justify-content: center;
  overflow: auto;
}

.right2 table {
  margin: auto; /* Automatyczne marginesy dla wyśrodkowania tabeli */
}

.container2 {
  height: 350px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 98%;
}


.left3 {
  flex: 2;
  border-color: grey; 
  border-style: solid;
  text-align: center;
}

.right3 {
  flex: 5;
  border-color: blue; 
  border-style: solid; 
  text-align: center;
  justify-content: center;
  overflow: auto;
}

.left3 table{
  margin: auto;
}
.right3 table {
  margin: auto; /* Automatyczne marginesy dla wyśrodkowania tabeli */
}

.center-div{
  
  text-align: center;
  height: 100vh;
  
}
.left4 {
  flex: 6;
  text-align: left;
  padding-top: 20px;
}

.right4 {
  flex: 1;
  text-align: right;
  justify-content: right;
  overflow: auto;
  padding-top: 20px;
  font-size: 20px;
}

.container5 {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 75%;
  border-color: orange; 
  border-style: solid;

}
.left5 {
  flex: 3;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-color: blue; 
  border-style: solid;
}

.right5 {
  flex: 1;
  text-align: right;
  justify-content: right;
  overflow: auto;
  padding-top: 20px;
  font-size: 20px;
  border-color: grey; 
  border-style: solid;
}

.container100 {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 97%;
  border-color: orange; 
  border-style: solid;
  padding-bottom: 10px;

}
.visa {
  flex: 1;
}

.visa2 {
  flex: 4;
}

.visa3 {
  flex: 4;
}

.messages-table {
  word-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}



