<!-- about_the_project.html  -->

{% extends 'base.html' %}

{% block title %}Imperial Bank - Online Banking - about the project {% endblock %}


{% block content %}



<div class="container">

    <div class="left4" style="padding-left: 30px; padding-right: 30px;">
        <h3>Online banking simulation</h3>

        <iframe width="640" height="360" src="https://www.youtube.com/embed/FWCzTZCoGdg" title="Online banking simulation project - Python Flask" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        


    </div>

    <div class="left4" style="padding-left: 30px; padding-right: 30px;">
        <h3>About the project</h3>


        <h4>Online banking simulation is a project that allows you to simulate the processes that take place while using the bank's online services.</h4>

        <h4>Read more about the project --> <a href="https://github.com/Marcin-Lewandowski/OnlineBanking/blob/master/README.md">README.md</a>
        </h4>

    </div>




</div>


{% endblock %}