<!-- about_the_project.html  -->

{% extends 'base.html' %}

{% block title %}Imperial Bank - Online Banking - about the project {% endblock %}


{% block content %}



<div class="container">

    <div class="left4" style="padding-left: 30px; padding-right: 30px;">
        <h3>Screens of simulation</h3>
        


    </div>

    <div class="left4" style="padding-left: 30px; padding-right: 30px;">
        <h3>About the project</h3>



        <h4>cel projektu, jego główne funkcje i założenia</h4>
        <h4>systemy bezpieczeństwa. np. szyfrowanie danych, ...</h4>

        <h4>jak rozpocząć korzystanie z symulacji, jakie są jej główne funkcje itp</h4>

    </div>




</div>


{% endblock %}