<!-- about_the_project.html  -->

{% extends 'base.html' %}


{% block title %}Imperial Bank - Online Banking - about the project {% endblock %}




{% block content %}

<h3>About the project</h3>
<h4>Demonstracja bezpieczeństwa: Jako projekt bankowy, ważne jest, aby podkreślić aspekty bezpieczeństwa. Możesz dodać informacje o zabezpieczeniach, jakie stosujesz 
    (np. szyfrowanie danych, autentykacja dwuskładnikowa), co może budować zaufanie użytkowników.</h4>

<h4>Możesz tu umieścić informacje dotyczące tego, jak rozpocząć korzystanie z symulacji, jakie są jej główne funkcje itp.</h4>


{% endblock %}