
<!--  account_data.html  -->


{% extends 'base2.html' %}


{% block title %} Imperial Bank - user dashboard - account data {% endblock %}


{% block precontent %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <p>Your fast messages: {{ message }}</p>
{% endfor %}
{% endif %}
{% if not messages %}
    <p>Your fast messages: ---</p>
{% endif %}
{% endwith %}

<h4>Your user account details:</h4>
    <table border="1" class="center-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
          <th>Phone number</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone_number }}</td>
            <td>{{ user.country }}</td>
          </tr>
      </tbody>
    </table>
    <br>

    <h3>Edit your data:</h3><br>

    <form action="{{ url_for('edit_profile_bp.edit_profile') }}" method="post" role="form">

      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required><br>

      <label for="phone_number">Phone number:</label>
      <input type="text" id="phone_number" name="phone_number" required><br>


      <label for="country">Country:</label>
      <input type="text" id="country" name="country" required><br><br>

      <!-- Hidden field with CSRF token -->
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      

      <input type="submit" value="Update"><br><br>
      <img src="static/{{ user.username }}.jpg">
    </form>

    
{% endblock %}


{% block content %}

{% endblock %}