<!--  cm.html (strona administracyjna) -->

<!-- HTML template for admin dashboard customer management -->

{% extends 'base_admin.html' %}
{% block title %}Imperial Bank - Admin Dashboard - Customer Management {% endblock %}
{% block subtitle %} - Customer Management{% endblock %}


{% block content %}
<br>


<div class="container2">
    <div class="left2">

        <p>Ala ma kota.</p>
        <h3>Add New Customer</h3>

        <form action="{{ url_for('add_customer') }}" method="post" role="form">

            
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>  <!-- moze być błąd type - text? -->
            
            <!-- Wstaw ukryte pole z tokenem CSRF -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            <label for="role">Role:</label>
            <select id="role" name="role" required>
            <option value="client">Client</option>
            <option value="bank_emploee">Bank employee</option>
            <option value="board_member">Board Member</option>
            <option value="management">Management</option>

            <!-- Add more role options if needed -->
            </select><br>

            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required><br>

            <label for="phone_number">Phone number:</label>
            <input type="text" id="phone_number" name="phone_number" required><br>


            <label for="country">Country:</label>
            <input type="text" id="country" name="country" required><br>
            

            <input type="submit" value="Add Customer">
            
            
        </form> 


    </div>

    <div class="right2">
        <!-- Zawartość kontenera po prawej stronie -->
        <!-- Table with customer information -->

        <h3>Users database:</h3> <br>
        <table border="1" >
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Role</th>
                <th>Email</th>
                <th>Phone number</th>
                <th>Country</th>
                <!-- Add more columns as needed -->
            </tr>
            </thead>
            <tbody>
            {% for user in all_users %}
                <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone_number }}</td>
                <td>{{ user.country }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
</div>

<hr>


<div class="container2">
    <div class="left2">
        <!-- delete_user -->
        <h3>Delete existing user:</h3>

        <form action="{{ url_for('delete_user') }}" method="post">
            <label for="username">User to delete - Name:</label>
            <input type="text" id="username" name="username" required> <br>
            <!-- Wstaw ukryte pole z tokenem CSRF -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            <input type="submit" value="Usuń użytkownika">
        </form>

    </div>

    <div class="right2">
        <!-- zmiana hasła dla użytkownika - klienta -->
        <h3>Password change:</h3>
        <a href="{{ url_for('list_users') }}" class="link">Password change</a> <br>
        


    </div>
</div>















<hr>

<!-- Table with created transactions -->
<h3>Transaction List</h3>

<table border="1">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Transaction Date</th>
            <th>Transaction Type</th>
            <th>Sort Code</th>
            <th>Account Number</th>
            <th>Description</th>
            <th>Debit Amount</th>
            <th>Credit Amount</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in all_transactions %}
            <tr>
                <td>{{ transaction.user_id }}</td>
                <td>{{ transaction.transaction_date }}</td>
                <td>{{ transaction.transaction_type }}</td>
                <td>{{ transaction.sort_code }}</td>
                <td>{{ transaction.account_number }}</td>
                <td>{{ transaction.transaction_description }}</td>
                <td>{{ transaction.debit_amount }}</td>
                <td>{{ transaction.credit_amount }}</td>
                <td>{{ transaction.balance }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Add New Transaction</h3>

<form action="{{ url_for('create_transaction') }}" method="post" role="form">

    <label for="user_id">User ID:</label>
    <input type="number" id="user_id" name="user_id" required><br>

    <label for="transaction_date">Transaction Date:</label>
    <input type="date" id="transaction_date" name="transaction_date" required><br>

    <label for="transaction_type">Transaction Type:</label>
    <select id="transaction_type" name="transaction_type" def required>
    
    <option value="DEB">Debit</option>
    <option value="DD">Direct Debit</option>
    <option value="SAL">Salary</option>
    <option value="CSH">Cash</option>
    <option value="SO">Standing Order</option>
    <option value="FPI">Faster Payment Incoming</option>
    <option value="FPO">Faster Payment Outgoing</option>
    <option value="MTG">Mortgage</option>

    </select><br>

    <label for="sort_code">Sort Code:</label>
    <input type="text" id="sort_code" name="sort_code" required><br>

    <label for="account_number">Account Number:</label>
    <input type="text" id="account_number" name="account_number" required><br>

    <label for="transaction_description">Description:</label>
    <input type="text" id="transaction_description" name="transaction_description" required><br>

    <label for="debit_amount">Debit Amount:</label>
    <input type="number" step="0.01" id="debit_amount" name="debit_amount"><br>

    <label for="credit_amount">Credit Amount:</label>
    <input type="number" step="0.01" id="credit_amount" name="credit_amount"><br>

    <label for="balance">Balance:</label>
    <input type="number" step="0.01" id="balance" name="balance" required><br>

    <!-- Wstaw ukryte pole z tokenem CSRF -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <input type="submit" value="Add Transaction">

</form>


{% endblock %}
