<!--  admin_dashboard.html (admin's website) -->

{% extends 'base_admin.html' %}
{% block title %}Imperial Bank - Admin Dashboard - Main {% endblock %}
{% block subtitle %} - Main{% endblock %}


{% block content %}

<h3>Welcome to main admin dashboard.</h3>

There is <b>{{ users }}</b> users in the system<br><br>

Link to manage users. <a href="{{ url_for('admin_dashboard_cm') }}">Customer Management</a>  <br><br><br><hr><br>


Manage customer accounts. You can search for accounts, block access and view customer transaction history. 
There is <b>{{locked_users}}</b> locked accounts. <a href="{{ url_for('admin_dashboard_cam') }}">Customer Account Management:</a>  <br><br><hr><br>

You can search for customer transactions by transaction type.
<a href="{{ url_for('transaction_management') }}">Transaction Management:</a>  <br><br><hr><br>

There is <b>{{ normal_count }}</b> queries with normal priority,  <b>{{ high_count }}</b> queries with high priority and <b> {{ urgent_count }} </b> queries with urgent priority in the system.
<a href="{{ url_for('cwc') }}">Communication with clients:</a>  <br><br><hr><br>

Info about Bank employee's, Board Members and Management  <a href="{{ url_for('team') }}">Team</a>  <br><br><hr><br>

You can generate reports, statistics for accounts  <a href="{{ url_for('reports_and_statistics_bp.reports_and_statistics') }}">Reports and Statistics:</a>  <br><br><hr><br>

Add new financial products. Configuration of interest rates and fees. 
<a href="{{ url_for('products_and_service_management') }}">Product and Service Management:</a>  <br><br>

<hr><br>

Safety settings  <a href="{{ url_for('safety_settings') }}">Safety settings:</a>  <br><br>

<hr><br>
{% endblock %}