<!--  admin_dashboard.html (strona administracyjna) -->

<!-- HTML template for admin dashboard -->

{% extends 'base_admin.html' %}
{% block title %}Imperial Bank - Admin Dashboard - Main {% endblock %}
{% block subtitle %} - Main{% endblock %}


{% block content %}

<!-- Zawartość kontenera po prawej stronie -->
            <!-- Table with customer information -->
            <table border="1">
              <thead>
              <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Role</th>
                  <th>Email</th>
                  <th>Phone number</th>
                  <th>Country</th>
                  <!-- Add more columns as needed -->
              </tr>
              </thead>
              <tbody>
              {% for user in all_users %}
                  <tr>
                  <td>{{ user.id }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.role }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.phone_number }}</td>
                  <td>{{ user.country }}</td>


                  <!-- Add more rows with user data as needed -->
                  </tr>
              {% endfor %}
              </tbody>
          </table>

          <hr width="90%" align="center">


          <h3>Add New Customer</h3>

      

          <form action="{{ url_for('add_customer_bp.add_customer') }}" method="post" role="form">

              
              <label for="username">Username:</label>
              <input type="text" id="username" name="username" required><br>

              <label for="password">Password:</label>
              <input type="password" id="password" name="password" required><br>  <!-- moze być błąd type - text? -->
              
              <!-- Wstaw ukryte pole z tokenem CSRF -->
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

              <label for="role">Role:</label>
              <select id="role" name="role" required>
              <option value="client">Client</option>
              <option value="bank_emploee">Bank employee</option>
              <option value="board_member">Board Member</option>
              <option value="management">Management</option>

              <!-- Add more role options if needed -->
              </select><br>

              <label for="email">Email:</label>
              <input type="text" id="email" name="email" required><br>

              <label for="phone_number">Phone number:</label>
              <input type="text" id="phone_number" name="phone_number" required><br>


              <label for="country">Country:</label>
              <input type="text" id="country" name="country" required><br>
              

              <input type="submit" value="Add Customer">
              
              
          </form>  
{% endblock %}