<!-- author.html  -->

{% extends 'base.html' %}

{% block title %}Imperial Bank - Online Banking - project's author {% endblock %}


{% block content %}
<div class="container">
    <div>
        <img src="static/marcin-autor.jpg">
    </div>

    <div class="left4" style="padding-left: 30px; padding-right: 30px;">
        <h4>Hello.
            <p>If you are reading this, you probably want to know what value I will bring to your company or to the company you cooperate with or recruit for. </p>
            
            <p>Patience and logical thinking skills are my greatest advantages. They constitute the foundation for my future work.</p> 
            <p>I like to create systems, processes and functionalities. I prefer backend ;)</p>
            <p>I'm a homebody type. I have a set daily routine.</p>
            <p>I'm from Poland. I completed my higher education in 2006 at the Casimir the Great University in Bydgoszcz.</p>
            <p>If you want to learn more about me, don't hesitate to contact me.</p></h4>
    </div>

    <div>
        <h3>Links:</h3>

        <h3><a href="https://github.com/Marcin-Lewandowski" >Github</a></h3>

        <h3><a href="https://www.linkedin.com/in/marcinlewandowski2/" >Linkedin</a></h3>

        <h3><a href="mailto:telfordmarcin@gmail.com">Email</a></h3>

        <b>telfordmarcin(O.O)gmail.com</b>
    </div>
</div>
{% endblock %}