<!--  base.html - base for all subpages for non-logged in users -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">  
    
    
</head>
<body>
    <header>
        <center> <img src="static/imperial-bank-2.jpg" alt="Imperial Bank"> </center>
        <div style="text-align: right;">
            <a href="register" class="to_the_right"><img src="static/register.jpg" alt="Imperial Bank - Register"></a>
            <a href="login" class="to_the_left"><img src="static/login.jpg" alt="Imperial Bank - Login"></a>
        </div>
    
    </header>

    <nav>
        <table class="center">
            <tr>
                <td  class="center2">
                    <a href="main" class="to_the_left">Main</a>
                </td>

                <td  class="center2">
                    <a href="about_the_project" class="to_the_left">About the project</a>
                </td>

                <td class="center2">
                    <a href="author" class="to_the_left">Author</a>
                </td>
                
            </tr>
        </table>
    </nav>



    <main>
            {% block content %}
            
            {% endblock %}
    </main>

    <footer>
        <table class="footer">
            <tr>
                
                <td class="center2">
                    <a href="privacy" class="link">Privacy</a> 
                </td>
               
                <td class="center2">
                    <a href="contact_us" class="link">Contact us</a>  
                </td>
            </tr>
        </table>
    </footer>
   
</body>
</html>