<!--   -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">  
    
</head>
<body>
    <header>
        <!-- Nagłówek strony -->
        <center> <img src="static/imperial-bank-2.jpg" alt="Imperial Bank"> </center>
        <div style="text-align: right;">
            <a href="register" class="to_the_right"><img src="static/register.jpg" alt="Imperial Bank - Register"></a>
            <a href="login" class="to_the_left"><img src="static/login.jpg" alt="Imperial Bank - Login"></a>
        </div>
    
    </header>

     
    <nav>
        
        <table class="center">
            <tr>
                <td  class="center2">
                    Save & Invest
                </td>
                <td class="center2">
                    Insurance
                </td>
                <td class="center2">
                    Loans
                </td>
                <td class="center2">
                    Credit Cards
                </td>
                <td class="center2">
                    Mortgages
                </td>
                
            </tr>
        </table>
    </nav>


    

    <main>
        <!-- main -->

            {% block content %}
            
            {% endblock %}
        



    </main>

    <footer>
        <!-- Stopka strony -->
        <table class="footer">
            <tr>
                <td  class="center2">
                    Branch Locator
                </td>
                <td class="center2">
                    Service status
                </td>
                <td class="center2">
                    Cookies
                </td>
                <td class="center2">
                    Privacy
                </td>
                <td class="center2">
                    Careers
                </td>
                <td class="center2">
                    <a href="contact_us" class="link">Contact us</a>  
                </td>
            </tr>
        </table>
    </footer>
   
</body>
</html>