<!-- base_admin.html  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles_admin.css') }}">  
    
    
</head>
<body>
    <header>
    </header>

    <nav>
    </nav>

    <main>
        <h2>Admin Dashboard  {% block subtitle %}{% endblock %} <a href="{{ url_for('logout') }}" class="link"> ----->> Log out  <<-----</a> <br></h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
            {% endif %}
        {% endwith %}

        <p>Welcome, {{ current_user.username }}!</p>  <br>

        <div class="container">
            <div class="left">
            <div>
                <a href="{{ url_for('admin_dashboard_bp.admin_dashboard') }}" class="link">Main Dashboard</a> <br><br>


                <a href="{{ url_for('admin_dashboard_cm') }}" class="link">Customer Management</a> <br>
                Creating new customer profiles.<br>
                creating a bank account for the client<br>
                Managing access rights for clients.<br>
                deleting profiles<br><br>


                <a href="{{ url_for('admin_dashboard_cam') }}" class="link">Customer Account Management:</a> <br>
                Overview and search of all customer accounts.<br>
                Ability to block or unblock accounts.<br>
                Editing customer information.<br>
                Managing access rights for clients.<br><br>


                <a href="{{ url_for('transaction_management') }}" class="link">Transaction Management:</a> <br>
                Transaction history overview.<br>
                Possibility to filter transactions according to various criteria.<br>
                Performing operations on transactions such as voids.<br><br>


                <a href="{{ url_for('cwc_bp.cwc') }}" class="link">Communication with clients:</a> <br>
                Technical Support Panel:
                Notification and message system for customers.<br>
                Managing announcements and messages for customers.<br><br>


                <a href="{{ url_for('team') }}" class="link">Team</a> <br>
                Info about Bank employee, Board Members and Management<br><br>


                <a href="{{ url_for('reports_and_statistics_bp.reports_and_statistics') }}" class="link">Reports and Statistics:</a> <br>   
                Generating reports on customer activity and transactions.<br>
                Presentation of statistics about users and accounts.<br><br>


                <a href="{{ url_for('products_and_service_management') }}" class="link">Product and Service Management:</a> <br> 
                Adding new financial products.<br>
                Configuration of interest rates and fees.<br>
                Configuration of product parameters, such as limits and fees.<br><br>


                <a href="{{ url_for('safety_settings') }}" class="link">Safety settings:</a> <br>  
                Configuring and monitoring security features such as encryption protocols.<br>
                Managing the identity verification and authorization process.<br><br>
                
            </div>
        
            </div>
            <div class="right">
                {% block content %}
                
                {% endblock %}
        
            
            </div>
        </div>
    </main>

    <footer>
    </footer>
</body>
</html>