<!--  cam.html (strona administracyjna) -->

<!-- HTML template for admin dashboard -->

{% extends 'base_admin.html' %}
{% block title %}Imperial Bank - Admin Dashboard - Main {% endblock %}
{% block sub_title %}- Customer Account Management{% endblock %}



{% block content %}
  
<h2>Customer Account Management</h2><BR>
    Overview and search of all customer accounts.<br>
                Ability to block or unblock accounts.<br>
                Editing customer information.<br>
                Managing access rights for clients.<br><br>

{% endblock %}