<!--  change_password.html (admin's webpage) -->

{% extends 'base_admin.html' %}
{% block title %}Imperial Bank - Admin Dashboard - password change {% endblock %}
{% block subtitle %} - Password change{% endblock %}



{% block content %}
    <h2>Change Password for {{ user.username }}</h2>
        <form action="{{ url_for('change_password', user_id=user.id) }}" method="post" role="form">


            <label for="new_password">New password:</label>
            <input type="password" id="new_password" name="new_password" required><br>

            <label for="confirm_new_password">Confirm new password:</label>
            <input type="password" id="confirm_new_password" name="confirm_new_password" required><br>


            <!-- Hidden field with CSRF token -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="submit" value="Change password">

        </form>

        
{% endblock %}