<!--  communication_with_clients_sorting.html (admin's website) -->


{% extends 'base_admin.html' %}
{% block title %}Imperial Bank - Admin Dashboard - Communication with clients sorting{% endblock %}
{% block subtitle %} - communication with clients - filter database{% endblock %}


{% block content %}

<h4>You can sort, filter all tickets by priority: urgent, high, normal. </h4>



<form action="{{ url_for('find_tickets_bp.find_tickets') }}" method="post" role="form">

    <label for="priority">Choose priority:</label> <br>
    <select type="text" id="priority" name="priority" def required>
        <option value="urgent">Urgent</option>
        <option value="high">High</option>
        <option value="normal">Normal</option>
    </select> <br><br>

    <!-- Hidden field with CSRF token -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <input type="submit" value="Find tickets"><br>

</form>

<br><br>

<h2>Latest Support Tickets by priority:</h2>
<table border="1" class="center-table" width = "100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>User ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Reference number</th>
            <th>Category</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Created at</th>
            <th>Process</th>
        </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.user_id }}</td>
                <td>{{ ticket.title }}</td>
                <td class="messages-table" style="font-size: 16px;"><pre style="white-space: pre-wrap;">{{ ticket.description }}</pre></td>
                <td>{{ ticket.reference_number }}</td>
                <td>{{ ticket.category }}</td>
                <td>{{ ticket.status }}</td>
                <td>{{ ticket.priority }}</td>
                <td>{{ ticket.created_at.strftime('%Y-%m-%d %H:%M') }}</td>
                <td><a href="{{ url_for('process_query_bp.process_query', query_ref=ticket.reference_number) }}">Process Query</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}