<!--  dashboard.html (home page for a client, bank employee, board member and manager) -->

{% extends 'base2.html' %}

{% block title %} Imperial Bank - user dashboard {% endblock %}


{% block precontent %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <p>Your fast messages: {{ message }}</p>
{% endfor %}
{% endif %}
{% if not messages %}
    <p>Your fast messages: ---</p>
{% endif %}
{% endwith %}

<h3>Your account statement: </h3>

<h5><a href="{{ url_for('download_transactions_bp.download_transactions', user_id=current_user.id) }}">Download pdf statement</a>  &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; 
    <a href="{{ url_for('download_transactions_csv_bp.download_transactions_csv', user_id=current_user.id) }}">Download csv statement file</a> </h5>



<table border="1" class="center-table">
  <thead>
      <tr>
          <th>Date</th>
          <th>Type</th>
          <th>Description</th>
          <th>Debit Amount</th>
          <th>Credit Amount</th>
          <th>Balance</th>
      </tr>
  </thead>
  <tbody>
      {% for transaction in all_transactions %}
          <tr>
              <td>{{ transaction.transaction_date }}</td>
              <td>{{ transaction.transaction_type }}</td>
              <td>{{ transaction.transaction_description }}</td>
              <td>{{ transaction.debit_amount }}</td>
              <td>{{ transaction.credit_amount }}</td>
              <td>{{ transaction.balance }}</td>
          </tr>
      {% endfor %}
  </tbody>
</table>
<br><br><br>

{% endblock %}

{% block content %}
 
{% endblock %}