
<!--  dashboard.html (strona główna klienta, pracownika banku, członka zarządu, menadżera) -->


{% extends 'base2.html' %}


{% block title %} Imperial Bank - user dashboard {% endblock %}


{% block precontent %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <p>Your fast messages: {{ message }}</p>
{% endfor %}
{% endif %}
{% if not messages %}
    <p>Your fast messages: ---</p>
{% endif %}
{% endwith %}

<h3>Your account statement: </h3>
<table border="1" class="center-table">
  <thead>
      <tr>
          
          <th>Date</th>
          <th>Type</th>
          <th>Description</th>
          <th>Debit Amount</th>
          <th>Credit Amount</th>
          <th>Balance</th>
      </tr>
  </thead>
  <tbody>
      {% for transaction in all_transactions %}
        
          <tr>
              <td>{{ transaction.transaction_date }}</td>
              <td>{{ transaction.transaction_type }}</td>
              <td>{{ transaction.transaction_description }}</td>
              <td>{{ transaction.debit_amount }}</td>
              <td>{{ transaction.credit_amount }}</td>
              <td>{{ transaction.balance }}</td>
          </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}




{% block content %}
 
{% endblock %}

