
<!--  dashboard.html (strona główna klienta, pracownika banku, członka zarządu, menadżera) -->

<center>
{% extends 'base.html' %}


{% block title %} Imperial Bank - user dashboard {% endblock %}


{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <h3>Welcome {{ current_user.username }}</h3>
  <br>
  
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Country</th>
        
        <!-- Add more columns as needed -->
      </tr>
    </thead>
    <tbody>
      
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>{{ user.country }}</td>


          
        </tr>
      
    </tbody>
  </table>

  <br>
  <a href="{{ url_for('logout') }}"><img src="static/logout.jpg"> </a>

  <br><br
{% endblock %}

</center>
