<!-- index.html (strona główna) -->

{% extends 'base.html' %}


{% block title %}Imperial Bank - Online Banking{% endblock %}




{% block content %}


<br>
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

<br><br>


<center>
  <h2>Online Banking Simulation</h2>

  <h3>Hello. This is my project based on the Python programming language and the Flask framework.</h3>
  <h3>All program functionalities are available after logging in to the customer account and/or administrator account. 
  You can read more about the project <a href="{{ url_for('about_the_project') }}" > here.</a></h3> <br>
  <h3>I create systems, processes and functionalities. I prefer backend ;)</h3>
  <h3>You can read more about me <a href="{{ url_for('author') }}" > here.</a></h3> <br><br>
  <img src="static/imperialbank.jpg" alt="Imperial Bank" >


</center>

{% endblock %}