<!-- index.html (strona główna) -->

{% extends 'base.html' %}


{% block title %}Imperial Bank - Online Banking{% endblock %}




{% block content %}


<br>
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

<br><br>


<div class="container">
  
  <div class="left">
    
    <!-- Zawartość kontenera po lewej stronie -->
    <div>
      
      
      <img src="static/bank3.jpg" alt="Imperial Bank">
    </div>

  </div>
  <div class="right">
    
    <!-- Zawartość kontenera po prawej stronie -->
    <div>
      
      <img src="static/bank2.jpg" alt="Imperial Bank">
      
      
    </div>
  </div>
</div>

<br><br>


{% endblock %}