<!-- login.html (strona logowania) -->


{% extends 'base.html' %}
{% block title %} Imperial Bank - Login {% endblock %}


{% block content %}
<div class="center-div">
  <br>
  <a href="{{ url_for('index')}}" class="link3"> << Go back to main page</a><br>

  <h3>Welcome to Personal Internet Banking</h3><br>


  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

<form method="POST" action="{{ url_for('login_bp.login') }}">
  {{ form.hidden_tag() }}
  <label for="username">Username:</label>
  {{ form.username(class="form-control", id="username") }}<br><br>
  <label for="password">Password:</label>
  {{ form.password(class="form-control", id="password") }}<br><br>
  <button type="submit" class="btn btn-primary">Login</button>
</form>

<hr width="80%"><br>

<a href="{{ url_for('contact_us')}}" class="link2"> Forgotten your Login and/or password?</a> <br>

<p>Never log into Internet Banking if you have given someone remote access to your computer.</p><br>

<a href="{{ url_for('privacy')}}" class="link2"> Find out more about how to protect yourself</a>




</div>

{% endblock %}

