

{% extends 'base.html' %}
{% block title %}Imperial Bank - Privacy{% endblock %}

{% block content %}
<center>
    <h1>Privacy</h1>
  
    <h3>We want you to know that Imperial Bank respects the information we hold on you and that we take the security of your information very seriously.</h3>

    <h1>Our Data Privacy Notice</h1>

    <h3>UK Data Protection Laws require us to manage all personal information in accordance with the Data Protection Principles.</h3> 
    <h3>In particular, we are required to process your personal information fairly, lawfully and in a transparent manner. </h3>
    <h3>This means that you are entitled to know how we intend to use any information you provide. </h3>
    <h3>You can then decide whether you want to give it to us in order that we may provide the product or service that you require. </h3>
    <h3>All our employees are responsible for maintaining customer confidentiality. We provide training and education to all employees to remind them about their obligations. </h3>
    <h3>In addition, our policies and procedures are regularly audited and reviewed. </h3>

    <h2>etc ....</h2>





  
</center>

{% endblock %}
