<!--  products_and_service_management.html (admin's website) -->

<!-- HTML template for admin dashboard -->

{% extends 'base_admin.html' %}
{% block title %}Imperial Bank - Admin Dashboard - Products and service management {% endblock %}
{% block subtitle %} - Products and service management {% endblock %}


{% block content %}

<h3>Products and service management </h3>

<h4>Stworzyć tabele w której będą gotowe produkty finansowe? pożyczki, hipoteczny kredyt, albo poprzez zapytanie do admina i admin przyznaje pożyczkę: 
    kwotę, oprocentowanie, wysokośc raty, ilość rat. Hipoteka tak samo</h4>

{% endblock %}