<!--  products_and_service_management.html (admin's website) -->

<!-- HTML template for admin dashboard -->

{% extends 'base_admin.html' %}
{% block title %}Imperial Bank - Admin Dashboard - Products and service management {% endblock %}
{% block subtitle %} - Products and service management {% endblock %}


{% block content %}

<h3>Products and service management </h3>

<h2><a href="{{ url_for('delete_all_loans') }}">Delete all loans</a> </h2>



<div class="container2">
   <div class="left2">
      <h3>Filter loans by product_id</h3>

      <form action="{{ url_for('find_loans_by_product_id') }}" method="post" role="form">
            
         <!-- Hidden field with CSRF token -->
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
         <label for="product_id">Product ID:</label>
         <select id="product_id" name="product_id" required>

         <option value="all">All</option>
         <option value="Consumer loan">Consumer loan</option>
         <option value="Car loan">Car loan</option>
         <option value="Home renovation loan">Home renovation loan</option>
         <option value="TEST LOAN">TEST LOAN</option>
         </select><br><br>
         <input type="submit" value="Find Loans"> <br><br>    
     </form> 
   
      
   </div>

   <div class="right2">

      <div>
         <h3>Loans available to customers:</h3>
         <table border="1" >
               <thead>
                  <tr>
                     <th> </th>
                     <th>Amount</th>
                     <th>Annual interest</th>
                     <th>Installment amount</th>
                     <th>Instalment's number</th>
                     <th>  </th>
                  </tr>
               </thead>
               <tbody>
                  
                  <tr>
                     <td> Consumer loan </td>
                     <td>£ 5000</td>
                     <td>7 %</td>
                     <td>£ 237.50</td>
                     <td>24</td>
                     <td><a href="{{ url_for('consumer_loan') }}" > Consumer loan - more info </a> <br></td>
                  </tr>
      
                  <tr>
                     <td> Car loan </td>
                     <td>£ 8000</td>
                     <td>6 %</td>
                     <td>£ 706.67</td>
                     <td>12</td>
                     <td><a href="{{ url_for('car_loan') }}" > Car loan - more info</a> <br></td>
                  </tr>
      
                  <tr>
                     <td>Home renovation loan </td>
                     <td>£ 15000</td>
                     <td>5.5 %</td>
                     <td>£ 485.42</td>
                     <td>36</td>
                     <td><a href="{{ url_for('home_renovation_loan') }}" > Home renovation loan - more info</a> <br></td>
                  </tr>
      
                  <tr>
                     <td><b>TEST LOAN </b></td>
                     <td>£ 100</td>
                     <td>10 %</td>
                     <td>£ 55.00</td>
                     <td>2</td>
                     <td><a href="{{ url_for('test_loan') }}" > TEST LOAN - more info</a> <br></td>
                  </tr>
                  
               </tbody>
            </table>
      </div>
      


   </div>
</div>

<div class="container100">
   <h2>Filtered Loans</h2>
   
      <table border="1" class="table-center">
         <thead>
            <tr>
                  <th>Product ID</th>
                  <th>User ID</th>
                  <th>Nominal loan amount</th>
                  <th>Interest </th>
                  <th>Installment amount </th>
                  <th>Installments number </th>
                  <th>Installments paid </th>
                  <th>Installments to be paid </th>
                  <th>Total amount to be repaid </th>
                  <th>Loan start date </th>
                  <th>Loan end date</th>
            </tr>
         </thead>
         <tbody>
            {% if loans %}
                  {% for loan in loans %}
                     <tr>
                        <td>{{ loan.product_id }}</td>
                        <td>{{ loan.user_id}}</td>
                        <td>{{ loan.nominal_amount }}</td>
                        <td>{{ loan.interest}} </td>
                        <td>{{ loan.installment_amount}} </td>
                        <td>{{ loan.installments_number}} </td>
                        <td>{{ loan.installments_paid}} </td>
                        <td>{{ loan.installments_to_be_paid }} </td>
                        <td>{{ loan.total_amount_to_be_repaid}} </td>
                        <td>{{ loan.loan_start_date}} </td>
                        <td>{{ loan.loan_end_date}}</td>
                     </tr>
                  {% endfor %}
            {% endif %}
         </tbody>
      </table>



</div>

{% endblock %}