<!--  products_and_service_management.html (admin's website) -->

<!-- HTML template for admin dashboard -->

{% extends 'base_admin.html' %}
{% block title %}Imperial Bank - Admin Dashboard - Products and service management {% endblock %}
{% block subtitle %} - Products and service management {% endblock %}


{% block content %}

<h3>Products and service management </h3>

<h4>Stworzyć tabele w której będą gotowe produkty finansowe?<br><br>

    Tabela z pożyczkami, kredytami<br>
     pożyczki, 5000 funtów oprocentowanie 8% w skali roku:<br>
        - 12 miesięcy, rata -  450 funtów, koszt pożyczki 400 funtów, całkowita kwata do spłaty 5400<br>
        - 24 miesięcy, rata - 241,66 funtów, koszt pożyczki 800 funtów, całkowita kwota do spłaty 5799,84<br>
        - 36 miesięcy, rata - 172,22 funtów, koszt pożyczki 1200 funtów, całkowita kwota do spłaty 6199,92, pozostała kwota do spłaty<br>
     10 000 funtów oproc 7% w skali roku<br>
     20 000 funtów oproc 6% w skali roku<br>
     
     hipoteczny kredyt, <br>
     
     
     albo poprzez zapytanie do admina i admin przyznaje pożyczkę: <br>
    kwotę, oprocentowanie, wysokośc raty, ilość rat, kwota do spłaty, pozostała kwota do spłaty Hipoteka tak samo</h4><br>

{% endblock %}