<!-- register.html - information website for people who want to open a bank account -->

{% extends 'base.html' %}


{% block title %}Imperial Bank - Online Banking - project's author {% endblock %}


{% block content %}
<br><br>


<div class="container100">
    <div class="left">
        <h1>Visit the nearest Imperial Bank branch and create your bank account.</h1>

        <h3><a href="{{ url_for('contact_us') }}" > Contact us </a> and book you appointment.</h3>

        <hr>
        <h1>Get the IB Mobile Banking App</h1> 
        <h2>Mobile banking has never been easier. </h2>
        <h2>Quickly register to start managing your money whenever and wherever you need to.</h2>
            <p>Download the app:</p>
            <img src="static/asi.png"> <img src="static/gp.png"> <br><br>

        <h2>Why use the app?</h2>

        <h3>Super easy registration</h3> 

        <p>All you need are your account and personal details. </p>

        <h3>Simple payments hub</h3>

        <p>For your banking essentials.</p>

        <h3></h3>

        <img src="static/ibapp11.jpg">
    </div>
</div>
<br><br>

{% endblock %}