<!--  reports_and_statistics.html (admin's website) -->

<!-- HTML template for admin dashboard -->

{% extends 'base_admin.html' %}
{% block title %}Imperial Bank - Admin Dashboard - Reports and statistics {% endblock %}
{% block subtitle %} - Reports and statistics {% endblock %}


{% block content %}

<h3>Reports and statistics</h3>

<h4>stworzyć jakies raporty i statystyki w formie liczbowej i wykresy [może filtrowanie jakies i potem pokaż wyniki w formie wykresów]</h4> <br><br>

<h3>Pomysły na wykresy</h3><br><br>

<b>Wykres obrazujący ile jest ticketów w bazie z poszczególnymi priorytetami: urgent, high i normal. Do tego musi być zdanie ile jest tiketów łącznie i z każdym z trzech priorytetów.
    Takie zdanie jak jest w main dashboard w punkcie czwartym.
</b>

{% endblock %}