<!--  reports_and_statistics.html (admin's website - This page displays basic statistics in the form of charts) -->


{% extends 'base_admin.html' %}
{% block title %}Imperial Bank - Admin Dashboard - Reports and statistics {% endblock %}
{% block subtitle %} - Reports and statistics {% endblock %}


{% block content %}

<h2>Reports and statistics:</h2>

<br>

<!-- Chart display -->
{{ chart1 | safe }}  {{ chart2 | safe }}  <br><br>

There is <b>{{ total_count }}</b> tickets in total:  <b> {{ urgent_count }} </b> queries with urgent priority, <b>{{ high_count }}</b> queries with high priority and <b>{{ normal_count }}</b> queries with normal priority in the system.

<br><br>

{{ chart3 | safe }} 

<br><br>

{{ chart4 | safe }}

<br><br>

{{ chart5 | safe }}

<br><br>  <hr> <br><br>

<h3>The average response time to an inquiry from a system user is:</h3>
<h2>{{ average_response_time }}</h2>
<hr>


<h1>Log Statistics</h1>
    
        <b>There is  {{ log_counts['INFO'] }} INFO level logs, {{ log_counts['ERROR'] }} ERROR level logs, {{ log_counts['WARNING'] }} WARNING level logs and 
            {{ log_counts['CRITICAL'] }} CRITICAL level logs in app.log file.</b>
    

<br><br>
{{ chart6 | safe }}
<br><br>
{{ chart7 | safe }}
<br><br>

{% endblock %}