<!--  safety_settings.html (admin's website) -->

<!-- HTML template for admin dashboard -->

{% extends 'base_admin.html' %}
{% block title %}Imperial Bank - Admin Dashboard - Safety settings {% endblock %}
{% block subtitle %} - Safety settings{% endblock %}


{% block content %}

<h3>Wdrożone zabezpieczenia:</h3>

<b>Blokowanie konta po 3 nieudanych próbach logowania - zrobione <br><br>

Czas sesjii ustawiona na np. 10 minut, teraz jest 45 minut. <br><br>


Przeglądanie logów systemowych w poszukiwaniu podejrzanej aktywności. <br><br>

Informacje o logach plus wykres na stronie reports_and_statistics <br><br>

    
</b>

{% endblock %}