<!--  team.html (admin's subsite - based info about staff, board members, managment etc) -->


{% extends 'base_admin.html' %}
{% block title %}Imperial Bank - Admin Dashboard - Team {% endblock %}
{% block subtitle %} - Team{% endblock %}


{% block content %}

<div class="container3">

    <table border="1" class="large-font-table">
        <thead>
        <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Role</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Country</th>
        </tr>
        </thead>
        <tbody>
        {% for user in all_users %}
            
            {% if user.role in ('board_member', 'management', 'bank_emploee'): %}
                <tr>
                    <td><img src="static/{{ user.username }}.jpg" alt="Obraz użytkownika"></td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone_number }}</td>
                    <td>{{ user.country }}</td>
            {% endif %}

                </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
        
{% endblock %}